/*--------------------------------------------------------------
VARIABLES
--------------------------------------------------------------*/
:root{
    --padding:50px 0px;
    --transition: .4 ease;
    --red:#e03a3c;
}


/*--------------------------------------------------------------
DEFAULT STYLE
--------------------------------------------------------------*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
  }

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

h2::after{
    display: block;
    content: "";
    width: 100px;
    height: 3px;
    background: var(--red);
    margin: 10px auto;
}