/* VARIABLES */

:root{
    --fontFamily: 'Montserrat',sans-serif;
    --transition: .4 ease;
    --padding:50px 0px;
    --fontSize: 16px;
    --violet: rgb(65, 42, 107);
    --yellow: #fadb61;
    --gray: #f8f8f8;

}


/* DEFAULT STYLES */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    line-height: 1.5 !important;
    font-family:var(--fontFamily);
    font-size: var(--fontSize);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bolder;
}


a:hover{
    transition: var(--transition);
}

.btn-outline-warning{
    padding: 10px 20px;
    border-radius: 10px 20px 10px 20px;
}
.btn-outline-warning:hover{
    border-radius: 20px 10px 20px 10px;
    transition: var(--transition);
    color: var(--violet);
}

.headings::after{
    display: block;
    content: "";
    width: 150px;
    height: 5px;
    margin: 10px auto;
    background: var(--yellow);
}

/* ANIMATION */
@keyframes animacijaHeader {
    from{
        top: 30%;
        left: -40%;
    }

    to{
        top: 30%;
        left: 10%;
    }
}



/* NAVBAR */
.navbar{
    background-color: var(--violet) !important;
    padding: 15px 0px;
}

.navbar-brand{
    color: var(--gray) !important;
    letter-spacing: 2px;
}

.navbar-brand:hover{
    color: var(--yellow) !important;
}

.navbar .navbar-nav .nav-item .nav-link{
    color: var(--gray) !important;
}

.navbar .navbar-nav .nav-item .nav-link:hover{
    color: var(--yellow) !important;
    text-transform: uppercase;
}

/* HEADER */
header{
    background-image:linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('../assets/img/pexels-janko-ferlic-590493.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 91vh;
}

header hgroup{
    top: 30%;
    left: 10%;
    animation-name: animacijaHeader;
    animation-duration: 2s;
}

/* BOOKS */
.books{
    padding: var(--padding);
}

.books h2{
    font-size: 2.3rem;
}

.books .card:hover{
    transform: scale(1.1);
    transition: var(--transition);
}

.books .card img{
    height: 250px;
}

/* LEFT SECTION */

.left .list-group li{
  color: var(--violet) !important;
}

.left .list-group li:hover{
    background: var(--gray) !important;
    cursor: pointer;
}
 .left .list-group{
     margin-top: 20px;
 }

 /* TOP CATEGORY */

 .top{
    padding: var(--padding);
 }

 .top .tab-content .tab-pane .box  img{
     height: 300px;
 }

 .top .tab-content .tab-pane .box{
     display: flex;
    align-items: center;
 }

 /* FOOTER */
 footer{
     background-color: var(--violet);
     color: var(--gray) !important;
     padding: var(--padding);
 }

 footer ul li:hover{
     color: var(--yellow) !important;
     cursor: pointer;
 }


/* RESPONSIVE */
@media(max-width:768px){

    .container{
        width: 80% !important;
    }
    .btn-outline-warning{
        padding: 5px 15px;
        border-radius: 10px 20px 10px 20px;
    }

    header{
        height: 70vh;
    }

    header h1{
        font-size: 2.6rem !important;
    }
    header p{
        font-size: 1.8rem;
    }

    .books .card{
        margin-top: 20px;
    }
    .books .card:hover{
        transform: scale(0.9);
        transition: var(--transition);
    }
 
    .books h2{
        font-size: 2rem !important;
    }

    .top .tab-content{
        margin-top: 20px;
    }
}