﻿@using OnlineLibrary.Web.Helpers;
@using OnlineLibrary.Web.Models.Component
@model IEnumerable<OnlineLibrary.Web.Models.Component._BookBadge>
@{
    ViewBag.Title = "Books";
}
@section Style {
    <link rel="stylesheet" href="~/Content/Views/books/index.css">
    
}
<p>
    @Html.Link("Create", "Book", "Create new <i class='fa-arrow-alt-circle-left'></i>", "btn btn-outline-warning btn-lg")

</p>

@foreach (var bookBadge in Model)
{
  
    Html.RenderComponent("_BookBadge", bookBadge);
}
@section scripts{
    <script type="text/javascript" src="~/Scripts/rater-js-master/index.js">
    </script>

}