﻿@model BookModel

@{
    ViewBag.Title = "Create new book";
}

<h2>@ViewBag.Title</h2>

@using (@Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Caption, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Caption, new { htmlAttributes = new { @class = "form-control outline-warning" } })
            @Html.ValidationMessageFor(model => model.Caption, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PublicationYear, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PublicationYear, new { htmlAttributes = new { @class = "form-control outline-warning" } })
            @Html.ValidationMessageFor(model => model.PublicationYear, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">

        <div class="col-md-10 col-md-offset-2">
            <img class="book-img" src="~/Content/images/book-placeholder.png">
        </div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Image, new { htmlAttributes = new { @class = "form-control outline-warning", @type = "hidden" } })
            @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("image", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.Editor("image", new { htmlAttributes = new { @class = "form-control outline-warning", @type = "file" } })
            @Html.ValidationMessage("image", "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-outline-warning btn-lg" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")

</div>
@section scripts{
    <script type="text/javascript" src="~/Scripts/Views/book/create.js">
    </script>

}
