﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 15px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
h1, .h1 {
    font-size: 60px;
}
.headings::after {
    display: block;
    content: "";
    width: 150px;
    height: 5px;
    margin: 10px auto;
    background-color: #ffc107;
}
a {
    color: #f8f8f8;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
a:hover {
    color: #fadb61;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.text-danger
{
    font-size: 11px;
}
.purple {
    color: #412a6b;
}
.purple-bg {
    background-color: #412a6b;
}
.text-white {
    color: #fff !important;
}
.position-absolute {
    position: absolute !important;
}
.yellow {
    color:#ffc107;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn-group-lg > .btn, .btn-lg {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
}
.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 2rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-outline-warning {
    padding: 10px 20px;
    border-radius: 10px 20px 10px 20px;
}
.btn-outline-warning {
    color: #ffc107;
    border-color: #ffc107;
}
.outline-warning {
    border-color: #ffc107;
}
.btn-outline-warning:hover {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}
.btn-outline-warning:hover {
    border-radius: 20px 10px 20px 10px;
    transition: var(--transition);
    color: var(--violet);
}
/*header*/
.header {
    padding: 15px 0px;
}

.nav > li > a {
    position: relative;
    -webkit-transition: width 0.4s;
    -moz-transition: width 0.4s;
    -o-transition: width 0.4s;
    transition: width 0.4s;
}
.nav > li > a:after {
    content: "";
    position: absolute;
    left: 15px;
    bottom: 0;
    height: 2px;
    width: 0px;
    background-color: transparent;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent;

}
.nav > li > a:hover:after {
    width: calc(100% - 25px);
    background-color: #fadb61;
}
.header a {
    opacity: 0;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.content-wrapper{
    margin-top:40px;
    min-height:calc(100vh - 70px);
}
/*end header*/

.book-img {
    height: 100px;
    width: 100px;
}
