﻿/*main-pg-cont */
.main-pg-cont {
    position: relative;
    background-size: contain;
    height: calc(100vh - 50px);
    width: 100%;
}

    .main-pg-cont hgroup {
        top: 30%;
        left: 10%;
        animation-name: animacijaHeader;
        animation-duration: 2s;
    }

/*main-pg-cont*/

/*main-pg-cont end*/
