﻿@using OnlineLibrary.Web.Helpers;
@using OnlineLibrary.Web.Models.Component

@model List<_BookBadge>
@{
    ViewBag.Title = "Online Library";
}

@section Style {
    <link rel="stylesheet" href="~/Content/Views/home/index.css">

}
@{
    var books = new List<_BookBadge>() {
        new _BookBadge()
        {

            Image = "/Content/images/book1.jpg",
            Title = "Sloboda izbora - tvrdi povez",
            Description = "Kao što je Fridmenova knjiga Free to Chosee doprinela ekonomskom obrazovanju širokih",
            Rate = 4.6m
        },
        new _BookBadge()
        {
            Image = "/Content/images/book2.jpg",
            Title ="A slabi trpe ono što moraju",
            Description = "Evropa, mere štednje i pretnja globalnoj stabilnosti. Kriza u Evropi nije završena. A kada ce",
            Rate = 4.5m
        },
        new _BookBadge
        {
            Image = "/Content/images/book3.jpg",
            Title = "Visoki prihodi u konsaltingu",
            Description = "Evropa, mere štednje i pretnja globalnoj stabilnosti. Kriza u Evropi nije završena. A kada ce",
            Rate = 4.5m
        },
        new _BookBadge
        {
            Image = "/Content/images/book4.jpg",
            Title= "Tranzicija u Srbiji i svetu",
            Description = "Evropa, mere štednje i pretnja globalnoj stabilnosti. Kriza u Evropi nije završena. A kada ce",
            Rate = 4.44m
        }
    };

}
<div class="main-pg-cont" style='background-image:url("Content/images/main-background.jpg")'>
    <hgroup class="text-white position-absolute">
        <h1 class="display-4">Libline <br> Online biblioteka</h1>
        <p class="lead">Mesto gde se cita izmedju redova</p>
        @*<button class="btn btn-outline-warning btn-lg">Iznajmi knjigu</button>*@
        @Html.Link("Books", "Book", "Iznajmi knjigu", "btn btn-outline-warning btn-lg")
    </hgroup>

</div>

<div class="featured-books">
    <div class="container">
        <div class="row ">
            <div class="col-md-12 text-center">
                <h2 class="headings">Istaknute knjige</h2>
            </div>
        </div>
        <div class="row py-4">
            @foreach (var bookBadge in Model)
            {
                Html.RenderComponent("_BookBadge", bookBadge);
            }

        </div>
    </div>
</div>

<div class="sale-books">
    <div class="container">
        <div class="row ">
            <div class="col-md-12 text-center">
                <h2 class="headings">Istaknute knjige</h2>
            </div>
        </div>
        <div class="row py-4">
            @foreach (var bookBadge in Model)
            {
                Html.RenderComponent("_BookBadge", bookBadge);
            }

        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript" src="~/Scripts/rater-js-master/index.js">
    </script>

}
