﻿
@using OnlineLibrary.Web.Models.Component

@model _BookBadge



<div class=" col-lg-3 col-md-6 col-sm-12">
    <div class="book-card">
        <img src="@Model.Image" alt="" class="img-fluid">
        <div class="card-body">
            <div class="card-title">
                <p class="lead">@Model.Title</p>
            </div>
            <div class="card-rate" data-rate="@Model.Rate">
                <div class="rate" id="@Model.Id"></div>
            </div>
            <div class="card-text">
                <p class="text-muted">
                    @Model.Description
                </p>
            </div>
            <button class="btn btn-outline-warning btn-lg">Opsirnije</button>
        </div>
    </div>

</div>
